@using KnowledgeBase.Models
@model IEnumerable<KnowledgeBase.Models.Framework>

@{
    ViewData["Title"] = "QuerySolutionChooseFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Query Solution Choose: Framework</h1>
<h2>Índice de "Frameworks"</h2>

@using (Html.BeginForm("Search", "BaseNav", FormMethod.Post))
{
    <p>
        @Html.TextBox("search")
        <input class="input-group-text btn btn-primary btn-sm" type="submit" value="Procurar" />
    </p>
}


<p>
    <a asp-action="Create">Criar Nova</a>

    <table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Versao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.Id })
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
 